Repository temporalio/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flossypurse, @temporalio/docs, @lorensr, @rylandg

.github/CODEOWNERS:

* @flossypurse
/docs/ @temporalio/docs
/docs/typescript/ @temporalio/docs @lorensr
/blog/ @temporalio/docs @rylandg

typescript version dos
  docs/application-development-guide.md
  docs/typescript/activities.md
  docs/typescript/cancellation-scopes.md
  docs/typescript/clients.md
  docs/typescript/how-to-create-a-temporal-client-in-typescript.md
  docs/typescript/how-to-define-activity-return-values-in-typescript.md
  docs/typescript/how-to-develop-a-worker-program-in-typescript.md
  docs/typescript/how-to-develop-a-workflow-definition-in-typescript.md
  docs/typescript/how-to-get-the-result-of-a-workflow-execution-in-typescript.md
  docs/typescript/how-to-send-a-signal-from-a-workflow-in-typescript.md
  docs/typescript/how-to-send-a-signal-with-start-in-typescript.md
  docs/typescript/how-to-set-a-cron-job-in-typescript.md
  docs/typescript/how-to-set-a-heartbeat-timeout-in-typescript.md
  docs/typescript/how-to-set-a-schedule-to-start-timeout-in-typescript.md
  docs/typescript/how-to-set-a-workflow-id-in-typescript.md
  docs/typescript/how-to-set-a-workflow-task-queue-in-typescript.md
  docs/typescript/how-to-set-an-activity-retry-policy-in-typescript.md
  docs/typescript/how-to-set-the-default-logger-in-typescript.md
  docs/typescript/how-to-spawn-a-workflow-execution-in-typescript.md
  docs/typescript/how-to-spawn-an-activity-execution-in-typescript.md
  docs/typescript/how-to-strucutre-a-project-in-typescript.md
  guide-gen/guide-configs/app-dev.json
Owners: @temporalio/docs, @lorensr, @flossypurse

go content and generic context for app dev guide
  docs/activities.md
  docs/app-dev-context/local-activities.md
  docs/app-dev-context/registering-types.md
  docs/app-dev-context/run-worker-processes.md
  docs/application-development-guide.md
  docs/clusters.md
  docs/go/error-handling.md
  docs/go/how-to-create-a-worker-in-go.md
  docs/go/how-to-register-types-with-a-worker-in-go.md
  docs/go/how-to-set-a-cron-schedule-in-go.md
  docs/java/how-to-define-activity-parameters-in-java.md
  docs/java/how-to-define-workflow-parameters-in-java.md
  docs/retry-policies.md
  docs/tasks.md
  docs/temporal.md
  docs/typescript/how-to-define-activity-parameters-in-typescript.md
  docs/typescript/how-to-develop-a-worker-program-in-typescript.md
  docs/visibility.md
  docs/workers.md
  docs/workflows.md
  guide-gen/guide-configs/activities.json
  guide-gen/guide-configs/app-dev.json
Owners: @temporalio/docs, @lorensr, @flossypurse

Prettified Code!
  docs/activities.md
  docs/application-development-guide.md
  docs/clusters.md
  docs/retry-policies.md
  docs/tasks.md
  docs/temporal.md
  docs/typescript/how-to-define-activity-parameters-in-typescript.md
  docs/visibility.md
  docs/workers.md
  docs/workflows.md
Owners: @temporalio/docs, @lorensr

Update docs/typescript/clients.md
  docs/typescript/clients.md
Owners: @temporalio/docs, @lorensr

fixed format issue
  docs/tctl/admin/shard/list_tasks.md
Owners: @temporalio/docs

Prettified Code!
  docs/tctl/admin/shard/list_tasks.md
Owners: @temporalio/docs

Update docs/typescript/how-to-strucutre-a-project-in-typescript.md
  docs/typescript/how-to-strucutre-a-project-in-typescript.md
Owners: @temporalio/docs, @lorensr

Update docs/typescript/how-to-set-an-activity-retry-policy-in-typescript.md
  docs/typescript/how-to-set-an-activity-retry-policy-in-typescript.md
Owners: @temporalio/docs, @lorensr

Update docs/typescript/how-to-set-an-activity-retry-policy-in-typescript.md
  docs/typescript/how-to-set-an-activity-retry-policy-in-typescript.md
Owners: @temporalio/docs, @lorensr

Update docs/typescript/how-to-set-a-cron-job-in-typescript.md
  docs/typescript/how-to-set-a-cron-job-in-typescript.md
Owners: @temporalio/docs, @lorensr
